#Login_Button {
    color: rgb(0, 70, 211);
    font-family:fantasy;
    background-color: indigo;
}

#Div1 {
    color: rgb(0, 70, 211);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
}

#Div2 {
    color: rgb(0, 70, 211);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
}